@import 'remixicon/fonts/remixicon.css';

body, html {
  user-select: none;
}

input,
textarea {
  user-select: text;
}
@import "tailwindcss";

@plugin "daisyui" {
  themes: caramellatte --default;
}

:root[data-theme="caramellatte"] {
  background-color: transparent;
}