@import 'remixicon/fonts/remixicon.css';

/* Disable text selection globally for a more native app feel */
body, html {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@import "tailwindcss";